.elements__image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: contain;
    justify-items: center;
    position: relative;
    background-size: cover;
    max-width: 280px;
    list-style-type: none;

}
/*ffffffffffffff*/
.elements__image::after {
    content: '';
    display: block;
    width: 282px;
    height: 282px;
    background-color: rgba(0, 0, 0, .3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
