.popup__closeform-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: calc(392px + 56px + 56px);
    width: calc(100% - 56px - 56px - 120px);
}


@media screen and (min-width: 320px) and (max-width: 1024px){
.popup__closeform-container{
    width: calc(100% - 120px);
}}