.popup__field_job {
        width: 100%;
    padding-top: 30px;
    border: white;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 1, 0.2);
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 13px;
    line-height: 140%;
    padding-left: 0;
    padding-right: 0;

}