.elements__trash{
    background-image: url(../../../images/Trash.svg);
    background-color: transparent;
    border: none;
    width: 18px;
    height: 19px;
    position: relative;
    top: 18px;
    right: 246px;
    cursor: pointer;
    background-position: center;
    background-size: 100%;
}

.elements__trash:hover {
    cursor: pointer;
}



