.popup__close-button-country{
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../../images/Close_Icon.svg');
    width: 56px;
    height: 56px;
    background-color: transparent;
    left: 230px;
    /*top: 72px;*/
    padding: 0;
    border: none;
    top: auto;
    bottom: 180px;

}

.popup__close-button-country:hover {
    cursor: pointer;
    opacity: 0.8;
}


@media screen and (min-width: 501px)  and (max-width: 1280px) {
    .popup__close-button-country {
        /*  width: 56px;
          height: 56px;*/
        /* top: 72px;
         left: 230px;*/
    }
}
