/*noinspection CssUnusedSymbol*/
.elements__like_active {
      opacity: 1;
      z-index: 15;
      background-image: url('../../../images/Union.svg');
    /* background: url(https://code.s3.yandex.net/web-code/dom/heart-filled.svg) center no-repeat;
}*/
}
